# Featuring Engineering- Handle Categorical Features Many Categories(Count/Frequency Encoding)

# I worked on it on 5 Feb 2021

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("mercedesbenz.csv", usecols=["X1","X2"])

In [3]:
data.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [4]:
for col in data.columns:
    print(col ," : ", len(data[col].unique()))

X1  :  27
X2  :  44

In [5]:
pd.get_dummies(data, drop_first=True).shape

(4209, 69)

In [8]:
df_freq_map=data.X2.value_counts().to_dict()

In [9]:
data.X2=data.X2.map(df_freq_map)

In [10]:
data

     X1    X2
0     v     6
1     t     4
2     w   137
3     t   137
4     v   137
...  ..   ...
4204  s  1659
4205  o    29
4206  v   153
4207  r    81
4208  r   496

[4209 rows x 2 columns]